@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.cards {
  display: flex;
  flex-flow: row wrap;
}

.teamtxt {
  text-align: center;
  color: white;
}

.teambtns {
  margin-right: 20px;
  
}
.search {
  margin-top: 20px;
  margin-bottom: 20px; 
}

.custom-switch .form-check-input:checked {
  background-color: red; /* Set the desired red color for the checked switch */
  border: black;
}
.custom-switch .form-check-input {
  background-color: white; /* Set the desired red color for the unchecked switch */
  border: black;
}
